body{
    text-align: center;
    background-color: rgb(83, 83, 83);
}
.bodycont{
    display: flex;
    justify-content: center;
  
}
.container{
    align-items: center;
    background-color: rgb(89, 93, 97);
    width:500px;
    height:300px;
    margin-top: 100px;
    color: beige;
    box-shadow: 2px 2px 2px rgb(60, 60, 63),  0px 2px rgb(60, 60, 63);
}
input{
    width:120px;
    height:25px;
}
.sub{
    height:32px;
    font-size:1em;
    padding:5px;
    background-color: rgb(194, 183, 169);
}